
:root{
  dark-blue: #0e2439;
}

/* tab container */
div.tabbed-interface{
  border: 2px solid #e1e1e1;
}
/* Checkbox styling  */

input[type="checkbox"]{
  height: 18px;
  width: 18px;
}

input[type="checkbox"]:checked{
  accent-color: #2d728f;
}

/* TODO: finish not:checked state */
input[type="checkbox"]:not:checked{
  accent-color: #2d728f;
}
input:focus{
  outline: 1px solid #2d728f;
}
input:focus-visible{
  outline: 2px solid #2d728f;
}
input:focus:not(:focus-visible){
  outline: none;
  box-shadow: 1px 1px 1px rgba(1, 1, 0, 0.3);
}

/* Hide the browser's default checkbox */
  /* .tabcontent-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  } */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* Base for label styling */
input[type="checkbox"]:not(:checked),
[type="checkbox"]:checked{
  position: relative;
  padding-left: 2.3rem;
  font-size: 1.05rem;
  line-height: 1.5;
  cursor: pointer;
}



/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: #FFF;
  border-radius: .2em;
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
  -webkit-transition: all .275s;
      transition: all .275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✕';
  position: absolute;
  top: .525em;
  left: .18em;
  font-size: 1.375em;
  color: #CB22ED;
  line-height: 0;
  -webkit-transition: all .2s;
      transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
}

	/* Accessibility */
	[type="checkbox"]:checked:focus + label:before,
	[type="checkbox"]:not(:checked):focus + label:before {
		box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
	}
